@model ListaZakupow.Models.ShopDBList

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ShopDBList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nazwa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nazwa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ilosc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ilosc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cena)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.data)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.data)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dataModyfikacji)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dataModyfikacji)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
